/*============
Page variables
==============*/

:root {

  /*color scheme*/
  --dark_col: #2B3531;
  --dark_neutral_col: #677662;
  --highlight_col: #B53A25;
  --light_neutral_col: #A88771;
  --light_col: #91A88C;
  --bright_col: #F74700; 

  /*font*/
  --font: Roboto, Verdana, sans-serif;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}

body * {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*reset default font - never shall Times New Roman be seen again!*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
figcaption {
  font-family: Verdana, sans-serif;
}

/*=========
Page Layout 
==========*/
body {
  display: flex;
  flex-flow: column wrap;
}

main {
  display: flex;
  flex-flow: column wrap;
}

/*====
Header 
=====*/
body > header {
  background-color: var(--bright_col);
  padding: 0.5rem;
  border-bottom: 0.25rem solid #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

body > header h1 {
  font-size: clamp(1.6rem, 3rem, 4.4rem);
  font-family: var(--font);
  font-weight: 700;
  text-shadow:2px 2px 5px #000;
}

section {
padding: 1rem 0;
}

section > header {
  background-color: var(--bright_col);
}

section > header h2 {
  padding: 0.25rem 0.5rem;
  font-size: clamp(1.2rem, 2rem, 2.6rem);
  font-family: var(--font);
  margin-bottom: 0.5rem;
}

section p {
  font-size: clamp(0.8rem, 1.2rem, 1.6em);
  line-height: 150%;
}

#sec_intro {
  display: flex;
  flex-direction: column;
}

#sec_intro img {
  align-self: center;
  margin-bottom: 1rem;
}

#sec_intro #intro_text {
  background-color: var(--light_neutral_col);
  color: #000;
  padding: 0.5rem 2rem;
  box-shadow: 2px 2px 5px #000;
}

#sec_intro #intro_text p {
  line-height: 1.5;
  margin: 0.5rem 0;
}

/*===========
Card section
=============*/
#sec_cards header h2 {
  text-shadow:2px 2px 5px #000;
  box-shadow: 2px  2px 5px #000;
}

.card{
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 0.5rem solid var(--dark_neutral_col);
  box-shadow: 2px 2px 5px #000;
}

.card:nth-child(even) {
  border-right: 25vw solid var(--highlight_col);
}

.card:nth-child(odd) {
  border-left: 25vw solid var(--highlight_col);
}
/*====================================================
CONTRIBUTORS ADD CARDS IN THIS SECTION BELOW WITH A COMMENT INCLUDING THE ID THE CARD
=====================================================*/

/*START OF EXAMPLE CARD STYLE*/

#sample_card {
  border: 5px solid black;
}

#sample_card_title {
  margin: 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--highlight_col);
}

#sample_card_content {
  line-height: 1.5;
  padding: 5px;
  text-align: center;
}

#sample_card_content a{
  color: currentColor;
}

/*END OF EXAMPLE CARD STYLE*/

/*START OF CARD STYLE BY MAZONTHEMOON*/
#mazonthemoon_card {
  border: 5px solid black;
}

#mazonthemoon_card_span {
  font-style: italic;
  font-size: smaller;
}

/*END OF CARD STYLE BY MAZONTHEMOON*/


/*====
Footer
=====*/
footer {
  height: min-content;
  margin: 1rem 0;
  border-top: solid 0.5rem var(--bright_col);
}

footer #sponsors {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

footer #sponsors img {
  flex: 1
  max-height: 100px;
}

footer #all_about_me {
  text-align: center;
}



/*================
  The little touches
  =================*/

/*Back to top

.backtotop {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
  }
  
  .backtotop a:link,
  .backtotop a:hover,
  .backtotop a:active,
  .backtotop a:visited {
    color: var(--##);
  }

  */
  
  /*in case of image not found

  img {
    position: relative;
  }
  
  img:after {
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    border: 1px dashed slategrey;
    background-color: lightgrey;
    z-index: 1;
    font-family: verdana;
    font-size: 0.8rem;
    content: "" attr(alt) " was not found";
  }

  */

  /*=============
  Accessibility
  ===============*/

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-col, #212529);
    color: var(--light-col, #f8f9fa);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-col, #f8f9fa);
    color: var(--dark-col, #212529);
  }
}
/*Reset to user browser preference*/

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}